name: MySQL integration tests

on:
  workflow_dispatch:

jobs:
  integration-tests:
    runs-on: ubuntu-22.04
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: test_db
          MYSQL_USER: user
          MYSQL_PASSWORD: secret
          MYSQL_ROOT_PASSWORD: secretroot
          TZ: Europe/Paris
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Verify MySQL connection
        run: |
          mysql --version
          sudo apt-get install -y mysql-client
          mysql --host 127.0.0.1 --port 3306 -uroot -psecretroot -e "SHOW DATABASES"
        
      - name: Check out repository code
        uses: actions/checkout@v4
        
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 .[tests] pymysql cryptography
    
      - name: Test with pytest
        run: |
          pytest tests -x
        env:
          DB_STRING: mysql+pymysql://root:secretroot@127.0.0.1:3306/test_db
