name: Duckdb integration tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install package
        run: |
          python -m pip install --upgrade pip
          python -m pip install duckdb_engine pytz .[tests]

      - name: Test with pytest
        run: |
          pytest tests -x
        env:
          DB_STRING: "duckdb:///:memory:"

